$dark-gray: #6B6B6B;
$light-gray: #F4F5F7;
$blue: #2684FF;
$red: #ff6c4b;

$font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-alt: -apple-system, BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;

body {
    margin: 0;
    color: $dark-gray;
    font-family: $font-family;
    font-size: 12px;
}

h1, h3 {
    color: $dark-gray;
    font-weight: initial;
    margin: 0;
}

h1 {
    font-size: 3.8em;    
    margin: 0 0 9px 0;
}

header {
    background-image: url('../icons/header.png');
    background-size: 90px;
    background-repeat: repeat-x;
    min-height: 25px;
}

main {
    margin: 0 8px;
    padding: 9px 9px 60px 9px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 11px 15px;
    height: 21px;
    text-align: left;
    background-color: $light-gray;
    font-size: small;
}

.link-separator::after {
    content: "/";
    margin: 0 3px 0 6px;
    opacity: 0.5;
    color: $dark-gray;
}

a {
 color: $dark-gray;
 text-decoration: none;

 &:hover, &:focus {
    color: $blue;
    text-decoration: underline;
 }   
}

.product-banner {
    display: inline-block;
    width: 100%;
    margin: 27px 17px 27px 0px;

    img {
        float: left;
        margin-right: 18px;
    }

    & > div {
        float: left;
    }
}

#Configuration {
    display: block;

    td, th {
        padding: 2px 4px 2px 0;
    }

    th {
        font-weight: normal;
        color: $dark-gray;
        text-align: left;
        font-size: small;
    }

    th:nth-child(3), th:nth-child(4) {
        width: 100px;
    }

    & + div {
        margin-top: 18px;

        & > button {
            margin-right: 9px;
        }        
    }
}

input[type=color], 
input[type=text] {
    margin: 2px;
    border-radius: 3px;
    background-color: $light-gray;
}

input[type=color] {
    border: none;
    width: 100%;

    &:focus, &:hover {
        background-color: darken($light-gray, 5%);
        cursor: pointer;
    }
}

input[type=text] {
    outline: none;
    border: 1px solid $light-gray;
    padding: 5px 10px;
    color: $dark-gray;

    &:focus {
        background-color: white;
        border-color: $blue;        
    }
}

button {
    border: none;
    outline: 0;
    border-radius: 3px;
    padding: 8px 10px;
    min-width: 60px;

    &:hover {
        cursor: pointer;
    }
    
    &.btn-secondary {
        color: $dark-gray;
        background: $light-gray;        
        
        &:hover {
            background: darken($light-gray, 5%);
        }
    }
    
    &.btn-primary {
        color: white;
        background: $blue;

        &:hover {
            background: darken($blue, 5%);
        }
    }
}

.preview-label {
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid $dark-gray;
    margin: 0 4px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    line-height: 10px;
    font-family: $font-family-alt;
    font-size: small;
}

.icon-btn-secondary {
    color: $dark-gray;

    &:hover {
        cursor: pointer;
    }
}

.icon-delete {
    position: relative;
    top: 2px;

    &::after {
        display: inline-block;
        content: "\00d7";
        font-size: x-large;
    }

    &:hover {
        color: $red;
    }
}